#set ($postgresql = "POSTGRESQL")
#set ($mysql= "MYSQL")
services:
  db:
#if($persistence == $postgresql)
    image: postgres:13
    container_name: product_service_${persistence}_${name}
    environment:
      POSTGRES_USER: changeUsername
      POSTGRES_PASSWORD: changePassword
      POSTGRES_DB: products
    ports:
      - "${dbPort}:5432"
    networks:
      - tfg-default-network
#end

#if($persistence == $mysql)
    image: ${persistence}
    container_name: product_service_${persistence}_${name}
    environment:
      POSTGRES_USER: changeUsername
      POSTGRES_PASSWORD: changePassword
      POSTGRES_DB: products
    ports:
      - "${dbPort}:5432"
    networks:
      - tfg-default-network
#end

networks:
  tfg-default-network:
    driver: bridge

volumes:
  db_data:
