#set ($postgresql = "POSTGRESQL")
services:
  db:
#if($persistence == $postgresql)
    image: postgres:13
    container_name: user_service_${persistence}_${name}
    environment:
      POSTGRES_USER: changeUsername
      POSTGRES_PASSWORD: changePassword
      POSTGRES_DB: users
    ports:
      - "${dbPort}:5432"
    networks:
      - tfg-default-network
#end

## TODO implement
#if($persistence.method.equals("MYSQL"))
    image: ${persistence}
    container_name: user_service_${persistence}_${name}
    environment:
      POSTGRES_USER: changeUsername
      POSTGRES_PASSWORD: changePassword
      POSTGRES_DB: users
    ports:
      - "${dbPort}:5432"
    networks:
      - tfg-default-network
#end

networks:
  tfg-default-network:
    driver: bridge

volumes:
  db_data:
