user-service/src/main/resources/application.yml
# Al ser una aplicacion de muestra, no se encuentran escondidos certificados
#docker/kafka/certs/production/**
#docker/kafka/credentials/production/**
*.secrets.properties
.idea
/.idea/
blueprints/**
/blueprints/
