#set ($postgresql = "POSTGRESQL")
#set ($mysql= "MYSQL")
server.port=${port}

#if($persistence == $postgresql)
spring.datasource.url=jdbc:postgresql://localhost:${dbPort}/users
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
#end
#if($persistence == $mysql)
spring.datasource.url=jdbc:mysql://localhost:${dbPort}/users
spring.jpa.properties.hibernate.dialect= org.hibernate.dialect.MySQL5Dialect
#end
spring.datasource.username=changeUsername
spring.datasource.password=changePassword
spring.jpa.hibernate.ddl-auto=update
