server.port=${port}

#db settings
spring.datasource.url=jdbc:postgresql://localhost:5432/orders
spring.datasource.username=changeUsername
spring.datasource.password=changePassword
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
