package ${package}.controllers;

import org.springframework.web.bind.annotation.*;

import ${package}.entities.User;
import ${package}.services.UserService;
#if($connections)
import ${package}.dtos.UserDto;
#end

@RestController
@RequestMapping("${apiPath}")
public class UserController {

    final
    UserService userService;

    public UserController(UserService userService) {
        this.userService = userService;
    }

#if($connections)
    @GetMapping("/dto/{userId}")
    public UserDto getUserDto(@PathVariable String userId){
        User user = userService.getUserById(Long.valueOf(userId));
        return new UserDto(user.getId(),user.getUsername(), user.getGender().toString());
    }
#end

    @GetMapping("/{userId}")
    public User getUserById(@PathVariable String userId){

        return userService.getUserById(Long.valueOf(userId));
    }

    @PostMapping("")
    public User createUser(@RequestBody User user){

        return userService.createUser(user);
    }

    @PutMapping("")
    public User updateUser(@RequestBody User modifiedUser){

        return userService.updateUser(modifiedUser);
    }

    @DeleteMapping("")
    public void deleteUser(@RequestBody User user){

        userService.deleteUser(user);
    }
}
