#set($found = false)
#foreach($connection in $connections)
    #if($connection.connectedTo.name().startsWith("ORDER_SERVICE"))
        #set($found = true)
        #break
    #end
#end
#if($found)
package ${package}.entities;

import ${package}.enums.Category;
import jakarta.persistence.*;
import lombok.*;

public class Order {

    private Long id;
    private Category orderCategory;
    private String orderName;
    private float orderPrice;
    private float orderAmount;

}
#end