#set($found = false)
#set($connectionApiPath = "")
#set($connectionPort = "")
#foreach($connection in $connections)
    #if($connection.connectedTo.name().startsWith("PRODUCT_SERVICE"))
        #set($found = true)
        #set($connectionApiPath = $connection.apiPath)
        #set($connectionPort = $connection.port)
        #break
    #end
#end
#if($found)
package ${package}.clients;

import ${package}.dtos.ProductDto;
import org.springframework.cloud.openfeign.FeignClient;
import org.springframework.http.ResponseEntity;
import org.springframework.stereotype.Component;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;

@FeignClient(name = "products", url = "http://localhost:${connectionPort}")
@Component
public interface ProductClient{

    @GetMapping("${connectionApiPath}/dto/{id}")
    public ResponseEntity<ProductDto> getProductDtoById(@PathVariable Long id);

}
#end