#set($found = false)
#set($connectionApiPath = "")
#set($connectionPort = "")
#foreach($connection in $connections)
    #if($connection.connectedTo.name().startsWith("PRODUCT_SERVICE"))
        #set($found = true)
        #set($connectionApiPath = $connection.apiPath)
        #set($connectionPort = $connection.port)
        #break
    #end
#end
package ${package}.controllers;

import ${package}.entities.CartItem;
import ${package}.services.CartService;
import org.springframework.web.bind.annotation.*;
import java.util.List;

@RestController
@RequestMapping("${apiPath}")
public class CartController {

    private final CartService cartService;

    public CartController(CartService cartService) {
        this.cartService = cartService;
    }

    @PostMapping("/{userId}/add")
    public void addItem(@PathVariable Long userId, @RequestParam Long productId, @RequestParam int quantity) {
        cartService.addItem(userId, productId, quantity);
    }

    @GetMapping("/{userId}/items")
    public List<CartItem> getAllItems(@PathVariable Long userId) {
        return cartService.getAllItems(userId);
    }

    @DeleteMapping("/{userId}/remove")
    public void removeItem(@PathVariable Long userId, @RequestParam Long productId) {
        cartService.removeItem(userId, productId);
    }

    @DeleteMapping("/{userId}/clear")
        public void clearCart(@PathVariable Long userId) {
    cartService.clearCart(userId);
    }
}