package ${package}.entities;

import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;

import java.io.Serializable;

@Data
@AllArgsConstructor
@NoArgsConstructor
public class CartItem implements Serializable {
    private Long productId;
    private Integer quantity;
#set($found = false)
#foreach($connection in $connections)
    #if($connection.connectedTo.name().startsWith("USER_SERVICE"))
        #set($found = true)
        #break
    #end
#end
#if($found)
    private Long userId;
#end
}
