package ${package}.services;

import ${package}.messages.Notification;
import org.apache.kafka.clients.consumer.ConsumerRecord;
import org.springframework.kafka.annotation.KafkaListener;
import org.springframework.messaging.simp.SimpMessagingTemplate;
import org.springframework.stereotype.Service;

@Service
public class NotificationService {

    private final SimpMessagingTemplate template;

    public NotificationService(SimpMessagingTemplate template) {
        this.template = template;
    }


    @KafkaListener(topics = "notification-topic")
    public void consumeNotification(ConsumerRecord<String, Notification> record) {
        Notification status = record.value();
        template.convertAndSend("/topic/notification/" + status.id(), status);
    }
}