#set($cartService = false)
#set($orderService = false)
#foreach($connection in $connections)
    #if($connection.connectedTo.name().startsWith("CART_SERVICE"))
        #set($cartService = true)
    #end
    #if($connection.connectedTo.name().startsWith("ORDER_SERVICE"))
        #set($orderService= true)
    #end
#end
package ${package}.controllers;

import ${package}.entities.Product;
import ${package}.services.ProductService;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.*;

import java.util.List;
#if($cartService || $orderService)
import java.util.Optional;
import ${package}.dtos.ProductDto;
#end

@RestController
@RequestMapping("${apiPath}")
public class ProductController {

    private final ProductService productService;

    public ProductController(ProductService productService) {
        this.productService = productService;
    }

#if($cartService || $orderService)
    @GetMapping("/dto/{id}")
    public ResponseEntity<ProductDto> getProductDtoById(@PathVariable Long id) {
        Optional<Product> product = productService.getProduct(id);
        return product.map(value -> ResponseEntity.ok().body(new ProductDto(
            value.getId(),
            value.getName(),
            value.getPrice()
        ))).orElseGet(() -> ResponseEntity.notFound().build());
        }
#end

    @GetMapping
    public List<Product> getAllProducts() {
        return productService.getAllProducts();
    }

    @GetMapping("/{id}")
    public ResponseEntity<Product> getProductById(@PathVariable Long id) {
        return productService.getProduct(id)
        .map(ResponseEntity::ok)
        .orElse(ResponseEntity.notFound().build());
    }

    @PostMapping
    public Product createProduct(@RequestBody Product product) {
        return productService.createProduct(product);
    }

    @PutMapping("/{id}")
    public ResponseEntity<Product> updateProduct(@PathVariable Long id, @RequestBody Product productDetails) {
        try {
            Product updatedProduct = productService.updateProduct(id, productDetails);
            return ResponseEntity.ok(updatedProduct);
        } catch (RuntimeException e) {
            return ResponseEntity.notFound().build();
        }
    }

    @DeleteMapping("/{id}")
    public ResponseEntity<Void> deleteProduct(@PathVariable Long id) {
            productService.deleteProduct(id);
            return ResponseEntity.noContent().build();
    }
}