spring.application.name=${name}
#if($isConfSvEnabled)
spring.config.import=optional:configserver:http://localhost:8888
#else
server.port=8222
spring.cloud.gateway.discovery.locator.enabled=true
spring.cloud.gateway.routes=
#end
