spring:
  application:
    name: ${name}
#if($isConfSvEnabled)
  config:
    import: optional:configserver:http://localhost:8888
#else
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - spring.config.import: classpath:/configurations/routes.yml
server:
  port: 8222
#end
