.microservice {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.microservice-image {
  width: 100px;  /* Ajusta este valor según tu diseño */
  height: 50px;  /* Mantén la relación 2:1 */
  object-fit: cover;
  margin-bottom: 5px;
}

.microservice span {
  font-size: 14px;
}

.dragging {
  opacity: 0.5;
}

