spring.application.name=${name}
#spring.graphql.graphiql.enabled=true
#if($isConfSvEnabled)
spring.config.import=optional:configserver:http://localhost:8888
#else
server.port=${port}

spring.data.redis.host=localhost
spring.data.redis.port=${dbPort}
#end
